<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Quản lý sinh viên</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="CUjKtGzKalEbemXYbxMiT3XNRRxSlZBJCEJnZxpW" />

    <link rel="stylesheet" href="/vendors/daterangepicker/daterangepicker.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <link rel="stylesheet" th:href="@{/css/icons.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link rel="stylesheet" th:href="@{/css/app-saas.min.css}" id="app-style">

    <link rel="stylesheet" th:href="@{/css/app.css}">


</head>

<body>
    <div class="fetch-loading d-none" id="fetch-loading">
        <img src="/images/logo-lg.png" alt="" class="img-fluid" width="300">
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div class="wrapper">

        <div class="navbar-custom">
            <div class="topbar container-fluid">
                <div class="d-flex align-items-center gap-lg-2 gap-1">

                    <!-- Topbar Brand Logo -->
                    <div class="logo-topbar">
                        <!-- Logo light -->
                        <a href="index.html" class="logo-light">
                            <span class="logo-lg">
                                <img src="/images/logo-lg.png" alt="logo">
                            </span>
                            <span class="logo-sm">
                                <img src="/images/logo-sm.png" alt="small logo">
                            </span>
                        </a>

                        <!-- Logo Dark -->
                        <a href="index.html" class="logo-dark">
                            <span class="logo-lg">
                                <img src="/images/logo-lg.png" alt="dark logo">
                            </span>
                            <span class="logo-sm">
                                <img src="/images/logo-sm.png" alt="small logo">
                            </span>
                        </a>
                    </div>

                    <!-- Sidebar Menu Toggle Button -->
                    <button class="button-toggle-menu">
                        <i class="mdi mdi-menu"></i>
                    </button>

                    <!-- Horizontal Menu Toggle Button -->
                    <button class="navbar-toggle" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </button>
                </div>

                <ul class="topbar-menu d-flex align-items-center gap-3">

                    <li class="d-none1 d-sm-inline-block1">
                        <div class="nav-link" id="light-dark-mode" data-bs-toggle="tooltip" data-bs-placement="left"
                            title="Theme Mode">
                            <i class="ri-moon-line font-22"></i>
                        </div>
                    </li>

                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle arrow-none nav-user px-2" data-bs-toggle="dropdown" href="#"
                            role="button" aria-haspopup="false" aria-expanded="false">
                            <span class="account-user-avatar">
                                <img src="/images/user.png" alt="user-image" width="32" class="rounded-circle">
                            </span>
                            <span class="d-lg-flex flex-column gap-1 d-none">
                                <h5 class="my-0" th:text="${userName}"></h5>
                                <h6 class="my-0 fw-normal" th:text="${levelName}"></h6>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated profile-dropdown">
                            <!-- item-->
                            <div class=" dropdown-header noti-title">
                                <h6 class="text-overflow m-0">Chào mừng bạn !</h6>
                            </div>

                            <!-- item-->
                            <a href="/admin/account" class="dropdown-item btn-show-profile">
                               
                                <i class="mdi mdi-account-circle me-1"></i>
                                <span>Tài khoản của tôi</span>
                            </a>

                            <!-- item-->
                            <a href="/logout" class="dropdown-item">
                                <i class="mdi mdi-logout me-1"></i>
                                <span>Đăng xuất</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="offcanvas offcanvas-end offcanvas-size-xl" tabindex="-1" id="offcanvasEditProfile">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title">Tài khoản của tôi</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
            </div>
        </div>

        <div class="leftside-menu">

            <!-- Brand Logo Light -->
            <a href="" class="logo logo-light">
                <span class="logo-lg">
                    <img src="/images/logo-lg.png" alt="logo">
                </span>
                <span class="logo-sm">
                    <img src="/images/logo-sm.png" alt="small logo">
                </span>
            </a>

            <!-- Brand Logo Dark -->
            <a href="" class="logo logo-dark">
                <span class="logo-lg">
                    <img src="/images/logo-lg.png" alt="dark logo">
                </span>
                <span class="logo-sm">
                    <img src="/images/logo-sm.png" alt="small logo">
                </span>
            </a>

            <!-- Sidebar Hover Menu Toggle Button -->
            <div class="button-sm-hover" data-bs-toggle="tooltip" data-bs-placement="right" title="Show Full Sidebar">
                <i class="ri-checkbox-blank-circle-line align-middle"></i>
            </div>

            <!-- Full Sidebar Menu Close Button -->
            <div class="button-close-fullsidebar" style="position: absolute; right: 16px;">
                <i class="ri-close-fill align-middle"></i>
            </div>

            <!-- Sidebar -left -->
            <div class="h-100" id="leftside-menu-container" data-simplebar>

                <ul class="side-nav">

                    <li class="side-nav-item">
                        <a href="/admin/dashboard" class="side-nav-link">
                            <i class="uil-home-alt"></i>
                            <span> Dashboard </span>
                        </a>
                    </li>

                    <li class="side-nav-item ">
                        <a href="/admin/department" class="side-nav-link ">
                            <i class="uil-briefcase-alt"></i>
                            <span> Quản lý khoa </span>
                        </a>
                    </li>

                    <li class="side-nav-item">
                        <a href="/admin/major" class="side-nav-link">
                            <i class="uil-bag"></i>
                            <span> Quản lý ngành </span>
                        </a>
                    </li>

                    <li class="side-nav-item">
                        <a href="/admin/classroom" class="side-nav-link">
                            <i class="uil-receipt-alt"></i>
                            <span> Quản lý lớp </span>
                        </a>
                    </li>

                    <li class="side-nav-item">
                        <a href="/admin/subject" class="side-nav-link">
                            <i class="uil-swatchbook"></i>
                            <span> Quản lý môn học </span>
                        </a>
                    </li>

                    <li class="side-nav-item">
                        <a href="/admin/teacher" class="side-nav-link">
                            <i class="uil-book-reader"></i>
                            <span> Quản lý giáo viên </span>
                        </a>
                    </li>

                    <li class="side-nav-item">
                        <a href="/admin/student" class="side-nav-link">
                            <i class="uil-users-alt"></i>
                            <span> Quản lý sinh viên </span>
                        </a>
                    </li>

                    <li class="side-nav-item">
                        <a href="/admin/module_subject" class="side-nav-link">
                            <i class="uil-book-open"></i>
                            <span> Quản lý học phần </span>
                        </a>
                    </li>
                    <li class="side-nav-item">
                        <a href="/admin/showChart" class="side-nav-link">
                            <i class="uil-book-open"></i>
                            <span> Biểu đồ Số Tín Chỉ Môn học </span>
                        </a>
                    </li>

                </ul>

                <div class="clearfix"></div>
            </div>
        </div>


        <div class="content-page">
            <div class="content">


                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <h4 class="page-title">Quản lý khoa</h4>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-12">
                            <button data-url="/them-khoa" class="btn btn-primary btn-show-create-department">Thêm
                                khoa</button>
                        </div>
                    </div>
                    <form th:action="@{/admin/searchDepartment}" th:object="${department}"  method="get" style="display: flex; width: 50%;  height: 30px; margin-bottom: 16px;">
                        <input style="margin-right: 20px;" type="text" class="form-control" placeholder="Nhập tên lớp" th:name="searchString"  />
                        <button type="submit" style="padding: 6px 9px; width: auto;" class="btn btn-primary btn-show-delete-deparment">
                            Tìm
                        </button>
                    </form>

                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table id="department-table" class="table table-bordered table-centered mb-0 text-nowrap">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Tên khoa</th>
                                        <th>Trưởng khoa</th>
                                        <th>Tạo lúc</th>
                                        <th>Cập nhật lúc</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="department:${departmentList}">
                                        <th>[[${department.department_id}]]</th>
                                        <th>[[${department.department_name}]]</th>
                                        <th>[[${department.fullname}]]</th>
                                        <th>[[${department.created_at}]]</th>
                                        <th>[[${department.updated_at}]]</th>
                                        <th>
                                            <div style="display: flex; gap: 10px;">
                                                <a th:href="@{'/admin/updateDepartmentForm/' + ${department.department_id}}">
                                                    <button type="submit" style="padding: 6px 8px;"
                                                        class="btn btn-primary btn-show-edit-department">
                                                        <i class="fa-sharp fa-solid fa-pen-to-square"></i>
                                                    </button>
                                                </a>
                                                <form th:action="@{/admin/deleteDepartment}" method="post">
                                                    <input type="hidden" th:name="id" th:value="${department.department_id}" />
                                                    <button type="submit" style="padding: 6px 9px;" class="btn btn-primary btn-show-delete-deparment"
                                                        onclick="return confirm('Bạn có chắc chắn muốn xóa khoa này?')">
                                                        <i class="fa-sharp fa-solid fa-trash"></i>
                                                    </button>
                                                </form>
                                                
                                            </div>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 text-center">
                            <script>
                                document.write(new Date().getFullYear())
                            </script> © Student Management - https://management.student.haui.vn
                        </div>
                    </div>
                </div>
            </footer>

        </div>

    </div>
    <div class="offcanvas offcanvas-end offcanvas-size-xl" tabindex="-1" id="offcanvasCreateDepartment">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">Thêm khoa</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <form th:action="@{/admin/addDepartment}" th:object="${department}"  method="post">
            <div class="offcanvas-body">
                <div class="row">

                    <div class="col-md-6 mb-3">
                        <label class="form-label">Tên khoa</label>
                        <input type="text" class="form-control" name="department_name">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Trưởng khoa</label>
                        <select  class="form-control" name = 'teacher_id'>

                            <option th:each="teacher: ${teacherList}" th:value="${teacher.teacher_id}" th:text="${teacher.fullname}"></option>
                        </select>
                    </div>

                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-info btn-block btn-store-classroom">Thêm</button>
                </div>
            </div>
        </form>
        
    </div>

    <div class="offcanvas offcanvas-end offcanvas-size-xl" tabindex="-1" id="offcanvasEditDepartment">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">Cập nhật khoa</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">

        </div>
    </div>

    <script src="/js/vendor.min.js"></script>

    <script src="/vendors/apexcharts/apexcharts.min.js"></script>
    <script src="/vendors/daterangepicker/daterangepicker.js"></script>
    <script src="/vendors/daterangepicker/moment.min.js"></script>

    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>
        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });
    </script>

    <script src="/js/hyper-config.js"></script>
    <script src="/js/app.min.js"></script>
    <script src="/js/app.js"></script>

    <script>
        $(document).ready(function () {
            const table = $('#department-table');
            const elCreateDepartment = $('#offcanvasCreateDepartment');
            const offcanvasCreateDepartment = new bootstrap.Offcanvas(elCreateDepartment[0]);

            const editDepartment = $('#offcanvasEditDepartment');
            const offcanvEditDepartment = new bootstrap.Offcanvas(editDepartment[0]);

            //show create department
            $(document).on('click', '.btn-show-create-department', function () {

                // axiosGet($(this)[0].dataset.url, function (response) {
                //     elCreateDepartment.find('.offcanvas-body').html(response.data);

                //     $('.select2').select2({
                //         dropdownParent: elCreateDepartment
                //     });
                // });

                offcanvasCreateDepartment.show();
            });

            //show edit department
            $(document).on('click', '.btn-show-edit-department', function () {

                // axiosGet($(this)[0].dataset.url, function (response) {
                //     editDepartment.find('.offcanvas-body').html(response.data);

                //     $('.select2').select2({
                //         dropdownParent: editDepartment
                //     });

                //     const currSelect2 = $('.update-department .select2');

                //     currSelect2.val(currSelect2[0].dataset.value);
                //     currSelect2.trigger('change');
                // });

                offcanvEditDepartment.show();
            });

            //store department
            // $(document).on('click', '.btn-store-department', function () {
            //     const form = $(this).parents('form');

            //     axiosPost(form.attr('action'), form.serialize(), function (response) {
            //         offcanvasCreateDepartment.hide();

            //         table.DataTable().ajax.reload();
            //     });
            // });

            // //delete department
            // $(document).on('click', '.confirm-delete-department', function () {
            //     const url = $(this)[0].dataset.url;
            //     showConfirm('Bạn có chắc muốn xóa khoa không?', function () {
            //         axiosDelete(url, function () {
            //             table.DataTable().ajax.reload();
            //         });
            //     });
            // });

            // //update department
            // $(document).on('click', '.btn-update-department', function () {
            //     const form = $(this).parents('form');

            //     axiosPut(form.attr('action'), form.serialize(), function (response) {
            //         offcanvEditDepartment.hide();

            //         table.DataTable().ajax.reload();
            //     });
            // });

            // //init datatable
            // table.DataTable({
            //     ...configDatatable,
            //     ajax: "/ds-khoa",
            // });
        });
    </script>
    <script>
        $(document).ready(function () {
            const el = $('#offcanvasEditProfile');
            const canvasProfile = new bootstrap.Offcanvas(el[0]);

            $(document).on('click', '.btn-show-profile', function () {
                axiosGet($(this)[0].dataset.url, function (response) {
                    el.find('.offcanvas-body').html(response.data);
                });
                canvasProfile.show();
            });

            $(document).on('click', '.btn-profile-update-student', function () {
                const form = $(this).parents('form');

                axiosPut(form.attr('action'), form.serialize(), function (res) {
                    canvasProfile.hide();

                    showAlert(res.data.message, 'success');
                });
            });

            $(document).on('click', '.btn-profile-update-password', function () {
                const form = $(this).parents('form');

                axiosPut(form.attr('action'), form.serialize(), function (res) {
                    canvasProfile.hide();

                    showAlert(res.data.message, 'success');
                });
            });
        });
    </script>
</body>

</html>